In [1]:
import os

# 1. Where does Python THINK it is?
print("I am currently looking in folder:", os.getcwd())

# 2. What files can Python see here?
print("\nFiles in this folder:")
print(os.listdir())

I am currently looking in folder: /home/deepak/Desktop/DATA ENGINEERING PYTHON/structural/day9

Files in this folder:
['store_sales.csv', 'Untitled.ipynb', 'The_Manual_Lookup.ipynb', '.ipynb_checkpoints', 'store_sales.ipynb']

In [2]:
import pandas as pd

In [3]:
df_logs = pd.read_csv("store_sales.csv")
df_logs

         date  store_id  sales  customers
0  2026-01-01       101    500         50
1  2026-01-01       102    300         30
2  2026-01-02       101    550         55
3  2026-01-02       102    320         32