In [1]:
import pandas as pd

In [2]:
inventory = {
    "item": ["Drill", "Hammer", "Nails", "Saw", "Wrench"],
    "cost_price": [40, 5, 2, 15, 6],
    "selling_price": [60, 10, 5, 25, 8],
    "quantity_sold": [10, 50, 200, 15, 30]
}

In [3]:
df_store =pd.DataFrame(inventory)
df_store

     item  cost_price  selling_price  quantity_sold
0   Drill          40             60             10
1  Hammer           5             10             50
2   Nails           2              5            200
3     Saw          15             25             15
4  Wrench           6              8             30

In [6]:
df_store["profit_per_item"]=(df_store["selling_price"]- df_store["cost_price"])

In [7]:
df_store

     item  cost_price  selling_price  quantity_sold  profit_per_item
0   Drill          40             60             10               20
1  Hammer           5             10             50                5
2   Nails           2              5            200                3
3     Saw          15             25             15               10
4  Wrench           6              8             30                2

In [10]:
df_store["total_revenue"] = (df_store["profit_per_item"] * df_store["quantity_sold"])
df_store

,item,cost_price,selling_price,quantity_sold,profit_per_item,total_revenue
0,Drill,40,60,10,20,200
1,Hammer,5,10,50,5,250
2,Nails,2,5,200,3,600
3,Saw,15,25,15,10,150
4,Wrench,6,8,30,2,60

In [11]:
df_store.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   item             5 non-null      object
 1   cost_price       5 non-null      int64
 2   selling_price    5 non-null      int64
 3   quantity_sold    5 non-null      int64
 4   profit_per_item  5 non-null      int64
 5   total_revenue    5 non-null      int64
dtypes: int64(5), object(1)
memory usage: 372.0+ bytes

In [15]:
df_store.to_csv("The_Store_Profit_Analysis.csv",index=False)