In [1]:
import pandas as pd

In [2]:
crypto = {
    "day": ["Mon", "Tue", "Wed", "Thu", "Fri"],
    "price_open": [45000, 46000, 45500, 48000, 47000],
    "price_close": [46000, 45500, 48000, 47000, 49000]
}

In [3]:
df_crypto =pd.DataFrame(crypto)
df_crypto

   day  price_open  price_close
0  Mon       45000        46000
1  Tue       46000        45500
2  Wed       45500        48000
3  Thu       48000        47000
4  Fri       47000        49000

In [9]:
df_crypto["daily_change"] = df_crypto["price_close"] - df_crypto["price_open"]
df_crypto

   day  price_open  price_close  daily_challenge  daily_change
0  Mon       45000        46000             1000          1000
1  Tue       46000        45500             -500          -500
2  Wed       45500        48000             2500          2500
3  Thu       48000        47000            -1000         -1000
4  Fri       47000        49000             2000          2000

In [10]:
df_crypto[df_crypto["daily_change"] < 0]

   day  price_open  price_close  daily_challenge  daily_change
1  Tue       46000        45500             -500          -500
3  Thu       48000        47000            -1000         -1000

In [11]:
df_crypto[df_crypto["daily_change"] < 0].to_csv("bad_market_days.csv", index=False)